body {
	background-color: #000000;
	color: beige;
	text-align: center;
	font-family: monospace;
	font-size: 1.5rem;
}

h1 {
	font-size: 3rem;
}

#inputContainer {
	margin: 21rem auto;
}

button {
	padding: 1rem 2rem;
	border: 0.3rem ridge darkgrey;
	border-radius: 1rem;
	background-color: #000000;
	color: beige;
	transition: 0.5s;
}

button:hover {
	border: 0.3rem solid crimson;
}

button:active {
	background-color: crimson;
	color: #000000;
	border: 0.3rem solid #000;
}
